<table class="table table-hover table-react table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th>Company</th>
    <th>Email</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td data-label="Name">{{$ctrl.person.name}}</td>
    <td data-label="Id">{{$ctrl.person.id}}</td>
    <td data-label="Company">{{$ctrl.person.company}}</td>
    <td data-label="Email">{{$ctrl.person.email}}</td>
    <td data-label="Address">{{$ctrl.person.address}}</td>
  </tr>
  </tbody>
</table>

