<div>
  <form name="JCBFilterForm" ng-cloak ng-if="$ctrl.filter=='true'" class="form-inline form-search" >
    <div class="form-group">
      <select class="form-control">
        <option value="">全部类型</option>
        <option value="recharge">充值</option>
        <option value="trans">转账</option>
        <option value="withdraw">提现</option>
        <option value="earnOnce">手续费收入</option>
      </select>
    </div>

    <div class="form-group">
      <label>日期</label>
      <input type="date" class="form-control">
      <label>-</label>
      <input type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">筛选</button>
  </form>
  <br>
  <table class="table table-hover table-responsive">
  <thead>
  <tr class="success">
    <th>Name</th>
    <th>Id</th>
    <th>Company</th>
    <th>Email</th>
    <th>Address</th>
    <th ng-if="$ctrl.operation=='true'">Operation</th>
  </tr>
  </thead>
  <tbody>

  <tr style="font-size: 12px;" ng-repeat="d in $ctrl.peopleData">
    <td data-label="Name">{{d.name}}</td>
    <td data-label="Id">{{d.id}}</td>
    <td data-label="Company">{{d.company}}</td>
    <td data-label="Email">{{d.email}}</td>
    <td data-label="Address">{{d.address}}</td>
    <td data-label="Operation" ng-if="$ctrl.operation=='true'">
      <button type="submit" class="btn btn-success">Add</button>
    </td>
  </tr>
  </tbody>
</table>


  <div ng-clock ng-if="$ctrl.pagination=='true'">
    <nav>
      <ul class="pagination">
        <li><a href="javascript: void 0">&laquo;</a></li>
        <li class="active"><a href="javascript: void 0">1</a></li>
        <li><a href="javascript: void 0">2</a></li>
        <li><a href="javascript: void 0">3</a></li>
        <li><a href="javascript: void 0">4</a></li>
        <li><a href="javascript: void 0">5</a></li>
        <li><a href="javascript: void 0">&raquo;</a></li>
      </ul>
    </nav>
  </div>
</div>

 <!-- <h1>bComponent</h1> -->