<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
        <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
        <li><a ui-sref="people" ui-sref-active="active">People</a></li>
        <li><a ui-sref="checkbox" ui-sref-active="active">Checkbox</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>